<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->

    <table class="job-listing" th:each="mapItem : ${jobs}">
        <tr th:each="map : ${mapItem}">
            <td th:text="${map.key}">Key</td>
            <td th:text="${map.value}">value</td>
        </tr>
    </table>
</div>

</body>
</html>